body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
  box-sizing: border-box;
}

/* Navigation */
  
.navbar {
    background-color: #22543D;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .logo {
    color: #fff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    margin: 10px 20px;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  
  .nav-item {
    margin: 0 20px;
    position: relative;
  }
  
  .nav-item a {
    color: #fff;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .sub-menu {
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    padding: 10px;
    display: none;
  }
  
  .sub-menu-item {
    margin: 0;
    padding: 0;
  }
  
  .sub-menu-item a {
    color: #333;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    display: block;
    padding: 10px;
  }
  
  .nav-item:hover .sub-menu {
    display: block;
    list-style: none;
  }

  /*Desktop Banner*/

/* Banner*/



.desktop-banner {
  height: 80vh;
  max-width: 100%;
  background-color: #E8E8E8;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: #fff;
  text-align: center;
}


.desktop-banner img {
  max-width: 100%; 
  max-height: 100%; 
  object-fit: contain; 
}

/*why buy from us */
.why-buy {
  background-color: #f8f8f8;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Style for the feature boxes */
.why-buy .feature {
  text-align: center;
  margin: 0 20px 20px;
  max-width: 350px;
}

.why-buy .feature a {
  font-size: 48px;
  border-radius: 50%;
  height: 100px;
  margin-bottom: 20px;
  color: #22543D;
}

.why-buy .feature h3 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.why-buy .feature p {
  font-size: 16px;
  color: #666;
}